#header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 22pt;
    margin: 8pt 46pt;
  }

  button {
    font-size: 22pt;
    border: none;
    background-color: transparent;
    color: var(--text-color);
  }
  button:hover {
    cursor: pointer;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  #nick {
    text-shadow: 0 0 1em var(--primary-color);
  }
}
