#portfolio {
  display: flex;
  flex-direction: column;

  .text-primary {
    color: var(--primary-color);
  }
  h1 {
    flex: 1;
    text-align: center;
    width: 100%;
  }

  .semi-transparent {
    color: rgb(from var(--text-color) r g b / 34%);
  }
}

.portfolio-item {
  display: flex;
  gap: 17pt;
  margin: 34pt 0;

  h3 {
    margin: 0;
  }

  a {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 8pt 16pt;
    border-radius: 17pt;
    text-decoration: none;
  }

  img {
    max-width: 35vw;
    border-radius: 34pt;
    box-shadow: 0 0 4pt;
  }

  .tags {
    display: flex;
    gap: 8pt;
    flex-wrap: wrap;
    margin: 0 0 16pt;
  }

  .tag {
    padding: 4pt 8pt;

    background-color: var(--bg-color);
    border: 1px solid rgb(from var(--text-color) r g b / 34%);
    border-radius: 34pt;
  }

  .background-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 17pt;
    z-index: -1;

    transform: rotate(-3.4deg);
  }
}
